body{
    background-color: green;
    #app{
        h1{
            background-color: white;
            color: green;
        }
        span {
            background-image: url('example.jpg');
        }
        font-size: x-large;
        color:white;
    }
}